﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="net_organigramy._Default" %>

<%@ Register Src="~/Controls/organigramy.ascx" TagPrefix="uc1" TagName="organigramy" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:organigramy runat="server" id="organigramy" />
</asp:Content>
