﻿.node, .multi-tree .content, .worker-title {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.expand {
    border-top: 1px #000 solid;
    background: #ddd;
}

.content .row {
    margin: 0;
}

nav, .navbar {
    z-index: 400 !important;
} 

.navbar {
   position: fixed;
   top: 15px;
   left: 15px;
   width: auto;
}

#logo {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 2;
}

/* DESIGN CELEK */
.worker-title {
    background: rgb(90, 146, 94);
    border-bottom: 1px rgba(39, 66, 40, 0.5) solid;
    color: #eee;
    text-transform: uppercase;
    padding: 5px;
    font-size: 10px;
}

.worker-name, .worker-phone, .worker-mail {
    font-size: 10px;
    max-width: 100%;
    color: #333;
    padding-left: 8px;
    padding-right: 8px;
}

.worker-mail {
    word-wrap: break-word;
}

.worker-avatar > img {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:64px;
}

.worker-id, .worker-parent {
    display: none;
}

.main-worker-info {
    position: relative;
    background-color: #eee;
    height:200px;
    width:150px;
    transition: all 0.2s ease;
}

.cols-row {
    transition: all 0.2s ease;
}

.worker-counter {
    text-align: right;
    padding-right: 5px;
    font-size: 10px;
    opacity: 0.4;
}


.popover {
  max-width: 600px;
  width: auto;
}

#filters-content {
    width: 400px;
}

#tree-view {
    margin-top: 50px;
    position: relative; 
    text-align: center;
}

#menu {
    z-index: 1;
}

#ui-datepicker-div {
    z-index: 1100 !important;
}

.struktura {
    background: #ddd;
    color: #555;
    font-family: 'LatoWebBold';
    height: 100px;
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.fired {
    opacity: 0.5;
}

.col-lg-12 {
    padding: 0;
}

.col-lg-6 {
    padding: 0;
}

.col-right, .col-left {
    transition: all 0.3s ease;
}


.col-right {
    padding: 8px;
    text-align: center;
    font-size: 11px;
}

.mailhref {
    text-decoration: none!important;
}







#modalWykres .well {
    border-radius: 0;
}

#modalWykres #menuHeader {
    text-align: center; 
    margin-top: -2px;
}